# SPDX-License-Identifier: GPL-3.0-or-later

#
#	Copyright 2025 Ian Pilcher <arequipeno@gmail.com>
#
#	ACME Cert Getter v2 - https://github.com/ipilcher/acg2
#

[Unit]
Description=ACME Certificate Getter service reload target
Requires=multi-user.target network-online.target
After=multi-user.target network-online.target
Conflicts=shutdown.target
StopWhenUnneeded=true
